/* --------------- clearfix --------------- */
.clearfix::before,
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/* --------------- 全局設定 --------------- */
/* 字體 */
body {
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 14px;
    background-color: #fff;
}
/* 超連結 */
a {
    text-decoration: none;
}
/* 置中 */
.mid {
    margin: 0 auto;
}

/* --------------- 導航樣式 --------------- */
/* 導航欄容器 */
.nav-wrap {
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    z-index: 9999;
}
/* 導航欄 */
.nav-wrap .nav {
    width: 1000px;
}
/* 導航欄 選單 */
.nav-wrap .nav a {
    float: left;
    display: block;
    height: 100%;
    margin: 0 35px;
    line-height: 44px;
    font-weight: 400;
    color: rgba(245, 245, 247, .7);
}
/* 導航欄 蘋果圖標 */
.fa-apple {
    font-size: 20px;
}
/* 導航欄 搜尋圖標 */
.fa-search {
    font-size: 16px;
}
/* 導航欄 背包圖標 */
.fa-square {
    font-size: 18px;
}
/* 導航欄 滑鼠移入後顏色改變 */
.nav-wrap .nav a:hover {
    color: rgb(245, 245, 247, 1);
}

/* --------------- Banner1樣式 --------------- */
/* Banner1 容器 */
.banner1-wrap {
    position: relative;
    top: 44px;
}
/* Banner1 文字 */
.banner1-wrap .text{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    margin-top: 48px;
    padding-top: 50px;
    color: #bfa;
}
/* Banner1 圖片 */
.banner1-wrap .banner1 {
    background: url('../img/banner1/iphone_12_pro.jpg');
    background-position-x: center;
    /* background-position-y: -60px; */
    background-size: cover;
    height: 732px;
}
/* Banner1 標題 */
.banner1-wrap .title {
    color: #f5f5f7;
    font-size: 50px;
    font-weight: bold;
}
/* Banner1 副標題 */
.banner1-wrap .sub-title {
    color: #f5f5f7;
    height: 31px;
    font-size: 28px;
    margin: 12px 0;
    /* background-color: red; */
}
/* Banner1 內容資訊 */
.banner1-wrap .info {
    color: #86868b;
    font-size: 18px;
}
/* Banner1 P1, P2內容高度 */
.banner1-wrap .info .p1,
.banner1-wrap .info .p2 {
    height: 25px;
}
/* Banner1 連結, 圖標 樣式 */
.banner1-wrap .link a,
.banner1-wrap .link .fa-angle-right {
    margin-top: 25px;
    font-size: 19px;
    color: #2997ff;
}
/* Banner1 圖標 樣式 */
.banner1-wrap .link .fa-angle-right {
    font-size: 14px;
    margin-left: 5px;
}
/* Banner1 a1連結 樣式 */
.banner1-wrap .a1 {
    margin-right: 50px;
}
/* Banner1 連結 滑鼠移入後顏色改變 */
.banner1-wrap .link a:hover {
    text-decoration: underline #2997ff;
    color: #2997ff;
}

/* --- 通知樣式 --- */
/* 通知容器 */
.notify-wrap {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #E34140;
}
/* 通知 */
.notify-wrap .notify {
    text-align: center;
    line-height: 44px;
    color: rgb(245, 245, 247);
}
/* 通知連結 */
.notify-wrap .notify a {
    color: rgb(245, 245, 247);
}
/* 通知連結 滑鼠移入後顯示底線 */
.notify-wrap .notify a:hover {
    text-decoration: underline;
}
/* 通知連結圖標 */
.notify-wrap .fa-angle-right {
    font-size: 10px;
}
/* --------------- Banner2樣式 --------------- */

.banner2-wrap {
    margin: 12px 0;
    /* height: 692px; */
    background-color: #bfa;
}

.banner2-wrap .banner2 {
    background-color: #bfa;
    height: 692px;
    background: url('../img/banner2/iphone_12_large.jpg');
    background-position-x: center;
    /* background-position-y: -100px; */
}